.cheff__container {
  padding: 0px 180px;
  display: flex;
  margin-top: 130px;
  align-items: center;
  justify-content: space-between;
}

.cheff__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 600px;
  margin-top: 80px;

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
  }

  p {
    margin: 24px 0px 72px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #00000099;
  }
}
