// for navbar

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding: 0px 100px;
  border-bottom: 2px solid #eee;

  .menus {
    display: flex;
    align-items: center;
    gap: 40px;

    &__item {
      font-size: 20px;
    }
  }

  .social__links {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}

// showcase styles

.showcase {
  display: flex;
  height: 70vh;
  width: 80%;
  border-radius: 25px;
  margin: 50px auto;
  overflow: hidden;
  position: relative;

  &__left {
    background-color: #e7fafe;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 90px 50px 50px;

    .badgeContainer {
      display: flex;
      gap: 30px;
    }

    h1 {
      font-size: 80px;
      font-weight: 600;
      letter-spacing: -3px;
      margin: 20px 0px 40px 0px;
    }

    .description {
      margin-bottom: 30px;
      color: #00000099;
      font-weight: 400;
      line-height: 28px;
      font-size: 18px;
    }

    .showcase__bottom {
      margin-top: 50px;
      display: flex;
      gap: 140px;
      align-items: center;
    }

    .circleImg {
      border: 2px solid #00000087;
      border-radius: 50%;
    }

    .person_container {
      display: flex;
      align-items: center;
      gap: 16px;

      p {
        font-size: 15px;
        margin: 5px 0px;
      }

      p:first-of-type {
        font-weight: 700;
      }
    }
  }
  &__right {
    background-image: url("../../assets/chicken.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100%;
    width: 50%;
  }
}

// like badge

.likeBadge {
  position: absolute;
  top: 10%;
  left: 47%;
}
