.category__container {
  display: flex;
  flex-direction: column;
  padding: 100px 180px;
}

.category__title {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 50px;
  }
}

.categories {
  display: flex;
  justify-content: space-between;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: center;
  padding: 40px 60px 20px 60px;
  border-radius: 30px;
  margin-top: 30px;

  p {
    font-size: 18px;
    font-weight: 700;
  }
}
